<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
    <resultMap id="returnUsr" type="User">
        <id column="id" property="id"/>
        <result column="user_name" property="username"/>
        <result column="password" property="password"/>
    </resultMap>
    <select id="ReturnPassword" resultType="User">
        select password,user_name
        from user
        where  user_name = #{username}
    </select>


    <update id="updatePhoto">
        update user
        <set>
            <if test="NewName!= null">user_name = #{NewName}, </if>
            <if test="photo != null">photo_path = #{PhotoPath}</if>
        </set>
        where user_name = #{username}
    </update>

</mapper>