<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TSeckillOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.model.TSeckillOrder">
        <id column="id" property="id" />
        <result column="goods_id" property="goodsId" />
        <result column="user_id" property="userId" />
        <result column="order_id" property="orderId" />
        <result column="good_id" property="goodId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, goods_id, user_id, order_id, good_id
    </sql>

</mapper>
